pkgbase = paru-wrapper
	pkgdesc = A wrapper around paru that implements dependency-aware orphan cleaning and automatic local repository DB updates
	pkgver = 1.0.0
	pkgrel = 6
	url = https://github.com/Vikyek/paru-wrapper
	install = paru-wrapper.install
	arch = any
	license = GPL-3.0-only
	depends = bash
	depends = python
	depends = sudo
	depends = paru
	depends = jq
	depends = curl
	depends = git
	source = paru-wrapper
	source = update_mkvpkg_aur.py
	source = pacman-wrapper
	source = LICENSE
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = paru-wrapper
