pkgbase = paru-wrapper
	pkgdesc = A wrapper around paru that implements dependency-aware orphan cleaning and automatic local repository DB updates
	pkgver = 1.0.0
	pkgrel = 6
	url = https://github.com/Vikyek/paru-wrapper
	install = paru-wrapper.install
	arch = any
	license = GPL
	depends = paru
	depends = bash
	depends = sudo
	depends = python
	source = paru-wrapper
	source = update_mkvpkg_aur.py
	source = pacman-wrapper
	sha256sums = 64d248f611374db9a44bbf20e93eacf8bda1a1f0366db9d02237716a09f17acc
	sha256sums = db193efd8fc83f936451bd984a39430417d37703e6be96c26eb7bb377ca5283f
	sha256sums = 502cfb8c5338c36d20fadfb02838f2d82ee41b3c4bdecb69251098cc42171aa6

pkgname = paru-wrapper
