pkgbase = paru-wrapper
	pkgdesc = A wrapper around paru that implements dependency-aware orphan cleaning and automatic local repository DB updates
	pkgver = 1.0.0
	pkgrel = 6
	url = https://github.com/Vikyek/paru-wrapper
	install = paru-wrapper.install
	arch = any
	license = GPL-3.0-only
	depends = paru
	depends = bash
	depends = sudo
	depends = python
	depends = jq
	depends = curl
	depends = git
	depends = pacman-contrib
	source = paru-wrapper
	source = update_mkvpkg_aur.py
	source = pacman-wrapper
	source = LICENSE
	sha256sums = aa1a3e9968719e1f8afb3494d52af56143207b1f3ba56c38e9352357899478ec
	sha256sums = ccb987a3c8c297db2433e1ad3ad68f4e1867f96e3974ae110393fd448f1f9638
	sha256sums = b0b067f09fe0a7b69d918c9c3c8c309e8a474efb95ce7cfb239dacc1fda6818e
	sha256sums = 3972dc9744f6499f0f9b2dbf76696f2ae7ad8af9b23dde66d6af86c9dfb36986

pkgname = paru-wrapper
